.Carrito {
  color: aliceblue;
  margin-top: 150px;
  max-width: 1000px;
  max-height: 500px;
}
.btnN {
  background-color: white;
  max-width: 55px;
  max-height: 35px;
}
.btnR {
  background-color: white;
  max-width: 55px;
  max-height: 35px;
}
.btnA {
  background-color: white;
  max-width: 55px;
  max-height: 35px;
}
.Contador {
  color: aliceblue;
}
.carrito-SR {
  width: 300px;
  height: 300px;
}
.agregar-carrito {
  color: white;
  background-color: blue;
}
.h2-carrito {
  color: white;
  margin-left: 85px;
}
.box-compra {
  color: aliceblue;
}
