.item-products {
  width: 100%;
  max-width: 250px;
  height: 100%;
  border-radius: 12px;
  border-color: white;
  color: white;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  display: list-item;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  animation: fade-in 0.8s ease-in forwards;
}
.cart-Item-Image {
  width: 60%;
  height: 50%;
}
.formulario {
  display: list-item;
  position: relative;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.btnN {
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 4px;
}

.eliminar {
  background-color: rgb(255, 255, 255);
  width: 75px;
  height: 55px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 4px;
}
.btnA {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 25px;
  cursor: pointer;
  border-radius: 4px;
}

.cartTittle,
.vacio {
  color: rgb(255, 255, 255);
}
.Contador {
  color: rgb(0, 0, 0);
}
