.item-products {
  min-width: 150px;
  max-width: 150px;
  min-height: 250px;
  max-height: 250px;
  border-radius: 32px;
  border-color: white;
  color: rgb(0, 0, 0);
  background-color: white;
  display: list-item;
  flex-direction: row-reverse;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0 0px;
  margin: 0 auto;
  position: relative;
  animation: fade-in 0.8s ease-in forwards;
  font-size: 13px;
}
.containerProds {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.cart-Item-Image {
  width: 60%;
  height: 50%;
}
.formulario {
  display: list-item;
  position: relative;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.btnN {
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 4px;
}
.btn-buy {
  width: 150px;
  height: 50px;
  background-color: blueviolet;
  color: white;
  border-radius: 25px;
  font-weight: 900;
  cursor: pointer;
  margin: 0;
}

.eliminar {
  background-color: rgb(255, 255, 255);
  width: 75px;
  height: 55px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 4px;
}
.btnA {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 25px;
  cursor: pointer;
  border-radius: 4px;
}
.cartTittle {
  margin-top: 50px;
}

.cartTittle,
.vacio {
  color: rgb(255, 255, 255);
}
.Contador {
  color: rgb(0, 0, 0);
}

@media (max-width: 980px) {
  .containerProds {
    width: 100%;
    display: list-item;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 15px;
  }
}
