.Carrito {
  color: aliceblue;
  margin-top: 150px;
  max-width: 1000px;
  max-height: 500px;
}
.btnN {
  background-color: white;
  max-width: 55px;
  max-height: 35px;
}
.btnR {
  background-color: white;
  max-width: 55px;
  max-height: 35px;
}
.btnA {
  background-color: white;
  max-width: 55px;
  max-height: 35px;
}
.Contador {
  color: aliceblue;
}
