.section-products {
  width: 96%;
  margin-left: 50px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 10px;
}

.div-product {
  width: 95%;
  max-width: 250px;
  height: 90%;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  display: list-item;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  animation: fade-in 0.8s ease-in forwards;
}
.link-detalles {
  align-items: center;
  border-radius: 15px;
}
.productos {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-products {
  height: 34%;
  /* border: .5px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 240px;
  margin: 0 auto;
}
.addC-P {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 30px;
  height: 25px;
  border-radius: 15px;
}
.boton-detalles {
  width: 75px;
  height: 55px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;

  color: white;
  cursor: pointer;
}
.list-item {
  display: list-item;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: 100%;
}
.img-details {
  width: 24%;
  height: 30%;
  border-radius: 12px;
}
.box-items {
  display: inline-flex;
  justify-content: baseline;
  width: 450px;
  height: 250px;
}
.product-d {
  display: flex;
  align-items: center;
}
.addCart-D {
  background-color: #ffffff;
  width: 30px;
  height: 25px;
  border-radius: 15px;
}
.addCart-D:hover {
  transform-box: scale(1.2);

  color: #0ef092;
}
.btnN {
  background-color: #ffffff;
  width: 50px;
  height: 35px;
  border-radius: 15px;
}
.link-cart {
  color: black;
  cursor: pointer;
  border-color: white;
  border-radius: 15px;
}
@media (max-width: 550px) {
  .product-d {
    display: flex;
    align-items: center;
    font-size: smaller;
  }
  .slick-arrow {
    display: none;
  }
}
