.section-products {
  width: 100%;
  padding: 10px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 10px;
}

.div-product {
  width: 100%;
  max-width: 250px;
  height: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  display: list-item;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  animation: fade-in 0.8s ease-in forwards;
}
.link-detalles {
  align-items: center;
}

.img-products {
  height: 34%;
  /* border: .5px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 240px;
  margin: 0 auto;
}
.addC-P {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 30px;
  height: 25px;
  border-radius: 4px;
}
.boton-detalles {
  width: 75px;
  height: 55px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.list-item {
  display: list-item;
  color: white;
  justify-content: center;
  align-items: center;
}
.img-details {
  position: relative;
  width: 350px;
}
.box-items {
  display: inline-flex;
  justify-content: baseline;
  width: 450px;
  height: 250px;
}
.product-d {
  display: flex;
  align-items: center;
}
.addCart-D {
  background-color: #ffffff;
}
@media (max-width: 550px) {
  .product-d {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .slick-arrow {
    display: none;
  }
}
