.home {
  max-height: 1000px;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
}
.img-home {
  display: flex;
  left: 150px;
  width: 250px;
  height: 220px;
}

.box {
  display: flex;
  margin-left: 480px;
  margin-top: 90px;
  max-width: 450px;
  font-size: larger;
}

.left {
  color: white;
  align-items: center;
  justify-content: center;
  width: 60%;
}
@media (max-width: 860px) {
  .box {
    margin-left: 40%;
    align-items: center;
  }
  .slick-prev {
    display: none;
  }
  .slick-arrow {
    display: none;
  }
}
