.home {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.img-home {
  display: flex;
  left: 150px;
  width: 250px;
  height: 220px;
}

.box {
  display: flex;

  margin-top: 40px;
  width: 100%;
  font-size: larger;
  align-items: center;
  justify-content: center;
}

.left {
  list-style: none;
  display: list-item;
  color: white;
  align-items: center;
  justify-content: center;
}
@media (max-width: 860px) {
  .box {
    align-items: center;
  }
  .slick-prev {
    display: none;
  }
  .slick-arrow {
    display: none;
  }
  .descripcion-slider {
    display: none;
  }
  .home {
    width: 100%;
    height: 100%;
  }
}
