.navl {
  display: none;
  position: fixed;
  top: 16%;

  justify-content: center;
  align-items: flex-end;
  width: 50px;

  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.li-n a {
  display: list-item;

  font-size: 1rem;
  align-items: center;
  justify-content: center;
}
.a-navl {
  display: list-item;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 650px) {
  .navl {
    display: none;
    width: 20px;
    top: 30%;
    align-items: center;
  }
}
