.navl {
  display: flex;
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 150px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.li-n a {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}
