.navbar {
  display: flex;
  position: relative;
  width: 100%;
  font-weight: 900;
  height: 70px;
  color: rgb(255, 255, 255);

  align-items: center;
  justify-content: center;
  border-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.ul-n {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  list-style: none;
  font-size: 15px;
  font-weight: 900;
  border-radius: 20px;
}
.li-inicio {
  list-style: none;
  font-size: 15px;
  font-weight: 900;
  border-radius: 20px;
}
a {
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 900;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.li-inicio:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
@media (max-width: 550px) {
  .li-inicio {
    list-style: none;
    font-size: 10px;
  }
  li {
    list-style: none;
    font-size: 10px;
  }

  .ul-n {
    width: 100%;
    justify-content: space-around;
  }
}
